.location-menu {

  box-sizing: content-box;

  $content-width: 100%;
  $borderType: 1px solid black;

  &-content {
    padding: 10px;
    width: $content-width;
    border: $borderType;
  }

  &-top {
    display: flex;
  }

  &-element {
    border-top: $borderType;
    border-left: $borderType;
    width: $content-width / 5;
    padding: 10px 15px;

    &:first-child {
      border-top-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 20px;
      border-right: $borderType;
    }
  }
}