.Statistics {
    padding-bottom: 10px;
}

.Statistics-Image {
    max-width: 100%;
}

.Statistics h1 {
    text-align: center;
    font-size: x-large;
    text-decoration: solid underline;
}

.Statistics-Nickname {
    text-align: center;
}
